<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @account.kind %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @account.expense %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
